<!DOCTYPE html>
<html>
  <head>
    <title>${HTMLtitle}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/datepicker.css">
	<link rel="stylesheet" href="css/colorpicker.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/smoothness/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="css/jquery.orgchart.css">
	<link rel="stylesheet" href="css/jquery.treeview.css">
	
	
	<style type="text/css">
	#napkeeCanvas {
		position:absolute;
		left:0px;
		top:0px;
	}
	.napkeeComponent {
		position:absolute;
		white-space: nowrap;
	}
	.napkeeRelativeComponent {
		position:absolute;
		white-space: nowrap;
	}
	
	${style}
	</style>
	
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="js/jquery.migration.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.swfobject.1-0.5.min.js"></script>
    <script src="js/swfobject.js"></script>
    <script src="js/jquery.sparkline.min.js"></script>
    <script src="js/bootstrap-colorpicker.js"></script>
    <script src="js/jquery.tools.min.js"></script>
    <script src="js/holder.js"></script>
    <script src="js/jquery.orgchart.min.js"></script>
    <script src="js/jquery.treeview.min.js"></script>
    <script src="js/jquery.tagcloud.min.js"></script>
	
  </head>
  <body>
  
	${customCode}


	${html}
	
    <script type="text/javascript" charset="utf-8">
	    function showMockup(url,params){
			var finalUrl = url + "?";
			if (params!=null){
				jQuery.each(params, function(par, field){
					finalUrl += par + "=" + $("#"+field).val() + "&";
				});
			}
			location.href = finalUrl;
		}
		$(document).ready(function(){
			$(".accordion").each(function(){
				var _acc = $(this);
				_acc.find(".accordion-inner").height(_acc.height() - (_acc.find(".accordion-inner").length * 36));
			});
			$(document).on("click", function(e){
				$("[data-date]").datepicker('show');
			});
		
			${jsDocReady}
		});
	</script>
  </body>
</html>
